<style>
    .quantity-wrapper {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .min-order-info {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #f5d471;
        text-align: center;
        font-size: 13px;
        line-height: 25px;
        font-weight: 700;
        position: relative;
        cursor: pointer;
        justify-content: center;
    }

    .min-order-info .tooltip {
        position: absolute;
        background: #ffff;
        padding: 5px;
        border: 1px solid #999999;
        left: 15px;
        top: -120%;
        min-width: max-content;
        font-size: 13px;
        font-weight: 400;
        visibility: hidden;
        opacity: 0;
        transition: top var(--time) ease-in-out, visibility var(--time) ease-in-out, opacity var(--time) ease-in-out;
        transform: translate(-50%, -50%);
        z-index: 0;
        isolation: isolate;
        color: #636363;
        margin: 0 5px 0 0;
        display: inline-block;
    }

    span.min-pacakge-size {
        float: unset !important;
        margin: 0 !important;
    }

    .min-order-info:hover .tooltip {
        opacity: 1;
        visibility: visible;
        top: -100%;
    }

    .metricsqutity {
        background-color: #272222;
        color: #fff;
        padding: 7px 7px;
        border-radius: 0px 5px 5px 0px;
        font-size: 1rem;
        left: -8px;
        position: relative;
    }

    button.js-qty__adjust.js-qty__adjust--minus.quantity-increment,
    button.js-qty__adjust.js-qty__adjust--plus.quantity-increment {
        display: none;
    }

  .quantity-wrapper label {
      text-transform: uppercase;
  }

    input.js-qty__num {
        max-width: 80px;
    }

    div#calculationqdp .quantity-wrapper .js-qty input#user-input {
        border: 1px solid rgba(99, 99, 99, .25);
        background-color: #a7f29736;
    }
</style>
